img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

header img{
    float: left;
    width: 50%;
    margin-left: 20px;
    margin-top: 30px;
}

/* Style for nav specifies text properties */
nav {
    font-weight: 300;
    text-align: right;
    margin: 10px;
}

/* style specifies padding and margins for unordered list */
nav ul {
    padding: 10px;
}

/* style for nav li specifies the background color, rounded corners, removes bullet style and applies margins and padding for list items within the navigation */
nav li {
    display: block;
    list-style-type: none;
    padding: 0.5%;
}

/* style changes navigation link text color and removes the underline*/
nav a {
    text-decoration: none;
    font-size: 1.25em;    
    color: #707070;
}

nav a:hover {
    font-weight: 600;
    color: gray;
}

.topnav {
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding-bottom: 5px;
}

.active {
    font-weight: 600;
    color: #999999;
}

main {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    
}

aside {
    margin: 10px;
}

.photo-credit {
    font-size: .5em;
}





@media screen and (min-width: 600px) {
    header img{
        width: 30%;
        margin-left: 30px;
        margin-top: 30px;
    }
    
    nav li {
        display: inline-block;
        padding: 2%;
    }

    main {
        margin-top: 170px;
        width: 80%;
    }
    
    .flex {
        display: flex;
    }


}

@media screen and (min-width: 1000px) {
    main {
        margin-top: 200px;
        width: 80%;
    }


}



